body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #22343d;
}
/* reset */

a {
    text-decoration: none;
    color: currentColor;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}
button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}
address {
    font-style: normal;
}
img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}
/* header */
.header {
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
}


.logo {
    display: flex;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    line-height: 0.93;
    color: #173a56;

}

.header-logo {}

.header-logo-img {}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;

}

.header-nav-item {}

.header-nav-link {
    display: block;
    padding: 26px 0;
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}
.header-btn-list {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.header-btn-item {}

.header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    color: #22343d;
    background-color: #fff;


}
.header-btn:hover,
.header-btn:focus {
    border: none;
    color: #fff;
    background-color: #02897A;
}
.hero {
    padding-bottom: 100px;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-btn-list {
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.btn-get-started {
    font-weight: 700;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    color: #fff;
    border: none;
}

.btn-watch-video {
    font-weight: 600;
    width: 164px;
    height: 23px;

    color: #02897a;
    border: none;
    background-color: #fff;

}
.icon {
    fill: #02897a;
    margin-right: 8px;
    text-decoration: none;
}
.text {
    text-decoration: underline;
}

/* sectio product title */
.product {
    padding-bottom: 50px;
}
.product-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    padding-bottom: 50px;


}
.product-list {
    display: flex;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.product-item {

}

.product-img {
    margin-bottom: 18px;
}

.product-head {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}
    

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 50px;
}

.btn-sign {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    border: none;
    min-width: 175px;
    height: 53px;
    background: #02897a;
    color: #fff;
    margin-bottom: 100px;
    text-transform: uppercase;
}
/* start section managment */
.management {
    justify-content: space-between;
    padding-bottom: 150px;
}

.management-container {
    padding-bottom:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-list {
    width: 100%;
    max-width: 486px;
    
}

.management-item {}

.management-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 21px;

}

.management-title-span{
    font-weight: 600;
    font-size: 16px;
     
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.management-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

.management-img {
    width: 100%;
    max-width: 540px;
    height: 500px;
}

.customer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 84px;
}

.customer-img {
    width: 540px;
    height: auto;
}
.customer-container-second {
    width: 450px;
    max-width: 100%;
    flex-shrink: 0;
}

.customer-list-second {
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.customer-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.customer-title {
    font-size: 32px;
    margin-bottom: 25px;
}

.customer-text-title {
    line-height: 1.625;
    margin-bottom: 30px;
}

.customer-item-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.customer-icon-container {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.customer-link-icon {
    border: 2.92px solid #fff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.orange {
    background-color: #f90;
}
.red {
    background-color: #f03e3d;
}
.blue {
    background-color: #4d8dff;

}
.customer-icon {
    stroke: #fff;
    fill: #fff;
}

.customer-text {
    line-height: 1.625;
    margin-bottom: 0;
}

.collaborative-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.collaborative-text-title {
    font-weight: 600;
    margin-bottom: 8px;
    
}

.collaborative-head {
    font-size: 32px;
    line-height: 1.625;
    margin-bottom: 25px;

}

.collaborative-list {}

.collaborative-item {}

.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 30px;
}

.collaborative-head-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
}
.collaborative-text-subtitle {
    line-height: 1.625;
    margin-bottom: 25px;

}

.collaborative-img {}

/* sectiom start quick-easy */
.quick-easy {
   
    padding-bottom: 100px;
}

.quick-easy-container{
    width: 100%;
    max-width: 916px;

}

.quick-easy-head {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.quick-easy-text {
    width: 100%;
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 64px; ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
}
.quick-easy-list-container {
    justify-content: space-between;
    margin-bottom: 25px;
 
}
.quick-easy-list {
    justify-content: space-between;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none
}

.quick-easy-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}


.quick-easy-img {

}

.item-text {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    text-align: center;
    color: #2f281e;
    width: 281px;
    padding: 14px 20px;
    border-radius: 40px;
}

.btn-contact{
    width: 216px;
    height: 53px;
    background-color: #02897A;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
/* section strategies start */
.strategies {
    padding-bottom: 171px;
}

.strategies-head {
    font-size: 34px;
    padding-bottom: 11px;
}

.strategies-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    width: 465px;
    padding-bottom: 39px;
}

.strategies-list {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.strategies-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    width: 350px;
}

.strategies-image {
    margin-bottom: 24px;
}

.strategies-item-text {
    padding-bottom: 12px;
    line-height: 1.75;
    margin-left: 24px;
}

.strategies-span {
    font-weight: 700;
}


.strategies-item-text-second {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    margin-left: 24px;
}
.strategies-item-text-second.green {
    color: #02897a;
}
/* Price start */

.price {
    padding-bottom: 100px;
}

.price-head {
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
}

.price-text {
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    
}

.price-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 72px;
    justify-content: space-between;
}

.price-item {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
}

.price-item-head { 
    text-align: center;
    margin-bottom: 8px;
    margin-top: 32px;
}

.price-item-text {
    text-align: center;
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 2.5;
    
}

.price-item-text-weight {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
}
.price-item-text-weight:last-of-type {
    margin-bottom: 30px;
}
.price-button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 11px 19px;
    border-radius: 8px;
    border: none;
    background: #02897a;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 7px;
}
.price-item.green {
    background-color: #02897a;
    color: #fff;
}


.price-button.green {
    background-color: #fff;
    color: #02897a;
}

.price-item-value.green { 
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.price-item-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-item-svg {
    stroke: #02897a;
    color: #02897A;
}
.price-item-svg.green {
    stroke: #fff;
    color: #fff;
}


.price-item-value-text {font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;}

    /* clients section start */

.clients {
    padding-bottom: 100px;
}

.clients-head {
    text-align: center;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.clients-text {
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    width: 537px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

}
    
.clients-item {
    border: 1px solid #dedede;
    border-radius: 5px;

}
    
.clients-svg {
    margin-left: 28px;
    margin-top: 28px;
    margin-bottom: 16px;
}
    
.clients-item-text {
    margin-left: 26px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}
    
.clients-container {
    display: flex;
    margin-left: 26px;
    margin-bottom: 28px;
    align-items: center;
    gap: 14px;
}
    
.clients-image {}
    
.clients-container-text {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}
    
.contaiter-text {}
    
.container-text-second {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}
/* section diagrama start */

.diagrama {
    padding-bottom: 100px;
}

.container.diagrama {
    width: 968px;
    height: 345px;
    background-color: #02897A;
    color: #fff;
    border-radius: 32px;
    display: flex;

}

.diagrama-container {
    
}

.diagrama-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    margin: 49px 10px 46px 51px;
    
}
.diagrama-image {
}

.diagrama-button {
    border-radius: 8px;
    border: none;
    background-color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 51px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

/* footer */




.footer {}


.footer-container {
    display: flex;
    width: 1110px;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container-logo {
}

.footer-logo {
    display: flex;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    line-height: 0.93;
    color: #173a56;
    margin: 0 auto;
    margin-bottom: 18px;
}

.header-logo {
    margin-bottom: 22px;
}

.header-logo-img {}

.logo-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.logo-item {
    width: 40px;
    height: 40px;
}

.logo-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item-icon {
    stroke: #02897A;
    fill: #fff;
}

.container-review {}

.review-list {
    
}

.review-item {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.review-item-text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}

.container-document {}

.document-list {
    margin-bottom: 8px;
}

.document-item {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.document-item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
    }


.feedback-container {
    width: 325px;
}

.feedback-list {}
.feedback-text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}
.feedback-icon-container{
    display: flex;
    flex-direction: row;
    border: 1px solid #bcd0e5;
    align-items: center;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-bottom: 25px;
    gap: 12px;
}
.feedback-item {}

.feedback-icon {
    stroke: #02897A;
    fill: #02897A;
    margin-left: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.feedback-btn {
    font-weight: 700;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    color: #fff;
    border: none; 
}

.footer-text-end {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #22343d;
    padding-bottom: 100px;
}