body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #22343d;
}
/* reset */

a {
    text-decoration: none;
    color: currentColor;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}
button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}
address {
    font-style: normal;
}
img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}
/* header */
.header-container {
    display: flex;
    align-items: center;
}


.logo {
    display: flex;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    line-height: 0.93;
    color: #173a56;

}

.header-logo {}

.header-logo-img {}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;

}

.header-nav-item {}

.header-nav-link {
    display: block;
        padding: 26px 0;
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}
.header-btn-list {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.header-btn-item {}

.header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    color: #22343d;


}
.header-btn:hover,
.header-btn:focus {
    border: none;
    color: #fff;
    background-color: #02897A;
}
.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
}
.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-btn-list {
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.btn-get-started {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    color: #fff;
    border: none;
}

.btn-watch-video {
    width: 164px;
    height: 23px;
    text-decoration: underline;
    color: #02897a;
    border: none;
    background-color: #fff;

}

/* sectio product title */
.product-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    padding-bottom: 50px;


}
.product-list {
    display: flex;
    width: 1110px;
    padding-bottom: 50px;
}

.product-item {

}

.product-img {
    margin-bottom: 18px;
}

.product-head {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}
    

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 50px;
}

.btn-sign {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    min-width: 175px;
    height: 53px;
    background: #02897a;
    color: #fff;
    margin-bottom: 50px;
}
/* start section managment */
.management {

}

.management-container {

    display: flex;
}

.management-list {
    width: 100%;
    max-width: 486px;
    
}

.management-item {}

.management-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 21px;

}

.management-title-span{
    font-weight: 600;
    font-size: 16px;
     
}

.management-text {}

.managment-subtitle {}

.management-img {}